[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[user]
	name = Vito Belgiorno-Zegna
	email = bz.vito@gmail.com

[alias]
	fp = !git fetch && git pull
	lg = log --graph --oneline --decorate
 
